@model Course

<h5>Create Course</h5>
<hr>
<form asp-action="Create">
    <label>Course Name:</label>
    <input type="text" asp-for="Name">
    <label>Course Code:</label>
    <input type="text" asp-for="CourseCode">
    <input type="submit" value="Save Changes">
</form>