@model Course

<h5>Edit Course</h5>
<hr>
<form asp-action="Edit">
    <label>ID:</label>
    <label asp-for="CourseId">@Model.CourseId</label>
    <input type="hidden" asp-for="CourseId">
    <label>Course Name:</label>
    <input type="text" asp-for="Name">
    <label>Course Code:</label>
    <input type="text" asp-for="CourseCode">
    <input type="submit" value="Save Changes">
</form>