<h6 class="display-4">Login</h6>
<hr />
<form asp-controller="Account" asp-action="Login" method="post">
    <div class="row">
        <div class="col-md-6">
            <span class="text-danger"></span>
            <div class="form-group row mb-2">
                <label class="col-md-3 col-form-label">User Name:</label>
                <div class="col-md-9">
                    <input type="text" name="name" value="" />
                </div>
            </div>
        </div>
    </div>
</form> 