<h6 class="display-4 text-md-center">İletişim Bilgileri</h6>



<div class="row justify-content-lg-center">

    <div class="col-md-5">
        <label>Adres:</label>
        <div>
            Sehir Mah. Kayışdağı Cd. Allianz Tower 1/16 34750
            Ataşehir İstanbul
        </div>
    </div>
    <hr  class="w-75"/>

    <div class="col-md-5">
        <label>Telefon</label>
        <div>
            Seyahat Hattı:
            +90 850 333 11 11 
            <div>
                Sigorta Acenteliği Hattı:
                +90 216 555 69 81
            </div>
            <div>
                Santral:
                +90 850 333 15 05
            </div>
            <hr class="w-75"/>
            <div>
                Ofis çalışma saatlerimiz Pazartesi – Cuma 08:30 – 18:00 arasıdır.

                Uçak Bileti ile ilgili sorularınız için çağrı ekibimize haftanın 7 günü 24 saat boyunca ulaşabilirsiniz.
            </div>
        </div>
    </div>

    <hr class="w-75"/>


    <div class="col-md-5">
        <label>Fax:</label>
        <div>

            +90 216 005 0142
        </div>
    </div>
    <hr class="w-75"/>


    <div class="col-md-5">
        <label>E-Posta:</label>
        <div>


            bilgi@star.com
        </div>
    </div>

</div>


