@model CityAndExpeditionModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center slider w-100 mt-3">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/slider2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slider2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/slider2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="clas1 m-auto">
    <div class="d-flex justify-content-around w-25 mt-md-4">
        <div>
            <label>Tek Yön</label>
            <input type="radio" name="durumu" />
        </div>
        <div>
            <label>Gidiş-Dönüş</label>
            <input type="radio" name="durumu" />
        </div>
    </div>
    <form asp-controller="Expedition" asp-action="Index" class="d-flex w-100">
        <div class="col-3 mb-5 d-flex">
            <label name="asd" class="form-label my-1 mx-2 font-weight-bold">Nereden</label>
            <select class="form-control" asp-for="NewExpedition.Nereden">
                @foreach (var item in Model.Cities)
                {
                    <option>@item.CityName</option>
                }
            </select>
        </div>

        <div class="col-3 mb-3 mb-5 d-flex me-5">
            <label for="" class="form-label my-1 mx-2 font-weight-bold">Nereye</label>
            <select class="form-control" asp-for="NewExpedition.Nereye">
                @foreach (var item in Model.Cities)
                {
                    <option>@item.CityName</option>
                }
            </select>
        </div>

        <div class="col-2 mb-3 mb-5 d-flex me-4">
            <label for="" class="form-label  my-1 mx-2 font-weight-bold">Tarih</label>
            <input asp-for="NewExpedition.Tarih" type="date" class="form-control" placeholder="Tarih" id="">
        </div>
        <div class="col-2 mb-3 d-flex">
            <button type="submit" class="btn-dark form-control">Sefer Ara</button>
        </div>
    </form>
</div>

@*cards*@
<div class="card-group m-auto w-75 mt-md-4 ">
    <div class="card">
        <img src="/img/card1.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="/img/card2.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/card3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<hr />

@* cards2 *@

<div class="row row-cols-1 row-cols-md-3 g-4 w-75 m-auto">
    <div class="col">
        <div class="card">
            <img src="~/img/card2.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/card1.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/card2.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/card2.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>

