<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Diken -Yaramazlara Biraz Batar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="mt-3">
        <nav class="navbar navbar-expand-lg navbar-light border m-auto" style="height:60px; width:85%;">
            <div class="container-fluid m-auto w-100 style="height:60px;"">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse m-auto w-100 " style="height:60px;">
                    <ul class="navbar-nav mb-lg-0 font-weight-bold d-flex justify-content-around w-100" style="height:60px;">
                        <li class="nav-item col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" aria-current="page" href="#">ROTA</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" aria-current="page" href="#">9 SORUDA</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active  mt-3 mr-2" href="#">DİKEN ÖZEL</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active  mt-3 mr-2" href="#">GÜNÜN 11'I</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active  mt-3 mr-3" href="#">DİKENLİK</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active  mt-3 mr-3" href="#">AKŞAM POSTASI</a>
                        </li>
                        <li class="nav-item mx-2 col-auto border-right">
                            <a class="nav-link active  mt-3 mr-3" href="#">VPN HABER</a>
                        </li>
                        <li class="nav-item mx-2 col-auto border-right">
                            <a class="nav-link active  mt-3 mr-3" href="#">ENGLISH</a>
                        </li>
                        <li class="nav-item mx-2 col-auto">
                            <a class="nav-link active  mt-3 mr-3" href="#"></a>
                        </li>
                    </ul>
                    <span class="navbar-text">

                    </span>
                </div>
            </div>
        </nav>
        <!-- Dİken resim -->
        <div class="m-auto" style="width:85%;">
            <img class="container-fluid" src="/img/resim.png" alt="">
        </div>

        <!-- ikinci navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white border m-auto" style="height: 60px; width:85%;">
            <div class="container-fluid" style="height: 60px; width:85%;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" style="height: 60px; width:85%;">
                    <ul class="navbar-nav mx-2 mb-2 mb-lg-0 font-weight-bold d-flex justify-content-center" style="height: 60px;">
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="navbar-brand mt-2 ml-5 mr-4" href="#">VİTRİN</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" aria-current="page" href="#">AKTÜEL</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">EKONOMİ</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">ANALİZ</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">DÜNYA</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">AKŞAM POSTASI</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">MEDYA</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">KEYİF</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-2" href="#">AGORA</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">SANAT</a>
                        </li>
                        <li class="nav-item mx-1 col-auto border-right">
                            <a class="nav-link active mt-3 mr-3" href="#">SÜRDÜRÜLEBİLİRLİK</a>
                        </li>
                        <li class="nav-item mx-1 col-auto">
                            <a class="nav-link" href="#"></a>
                        </li>

                    </ul>
                    <span class="navbar-text">

                    </span>
                </div>
            </div>
        </nav>
    </div>


    @* footer *@
    <div class="main-content d-flex bg-white m-auto" style="width:85%;">
        @RenderBody()
    </div>
    <div id="sixteen">
        <div class="col m-auto d-flex flex-row p-3">
            <ul class="text-white list-unstyled fs-5">
                <li>Vitrin</li>
                <li>Aktüel</li>
                <li>Ekonomi</li>
                <li>Analiz</li>
                <li>Dünya</li>
                <li>Medya</li>
                <li>Keyif</li>
                <li>Agora</li>
                <li>Sanat</li>
                <li>Sürdürülebilirlik</li>
            </ul>
            <ul class="text-white list-unstyled fs-5">
                <li>Agora</li>
                <li>Diken'e</li>
                <li>Takılanlar</li>
                <li>Birinci Sayfalar</li>
                <li>Günün 11'i</li>
                <li>Akşam Postası</li>
            </ul>
            <br>
            <br>
            <ul class="text-white list-unstyled fs-5">
                <li>Bu Gazete...</li>
                <li>Diken 5 Yaşında</li>
                <li>Künye</li>

            </ul>
            <div class="px-5 py-2">
                <div class="icon">
                    <a>
                        <img src="Resimler/mail-footer-icon.png" alt="" class="bg-secondary">
                    </a>
                    <a>
                        <img src="Resimler/footer-face-icon.png" alt="" class="bg-secondary">
                    </a>
                    <a>
                        <img src="Resimler/google-footer-icon.png" alt="" class="bg-secondary">
                    </a>
                </div>
                <br>
                <div class="icon">
                    <a>
                        <img src="Resimler/pinteres-footer-icon.png" alt="" class="bg-secondary">
                    </a>
                    <a>
                        <img src="Resimler/wifi-footer-icon.png" alt="" class="bg-secondary">
                    </a>
                    <a>
                        <img src="Resimler/twiter-footer.png" alt="" class="bg-secondary">
                    </a>
                </div>
                <br>
                <div class="icon">
                    <a>
                        <img src="Resimler/v-footer-icon.png" alt="" class="bg-secondary">
                    </a>
                    <a>
                        <img src="Resimler/youtube-icon-footer.png" alt="" class="bg-secondary">
                    </a>

                </div>

            </div>
        </div>
        <hr id="hr">
        <div id="finish">
            <p id="p4">
                "Genç gazeteci arkadaşlarıma! Bu meslek yorucu bir meslektir. Ama, insan
                büyük bir zevkle çalışır. Kalemine daima efendi kal, uşak olmamaya gayret et. Mecbur kalırsan kır, sakın
                satma." Sedat Simavi
            </p>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">

    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
