@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid m-auto";>
    <!-- slider için  başlangıç -->

    <div class="container-fluid row border" >
        <!-- slider ın altınsaki sayfayı row olarak açtım ikiye böleceğim -->
        <div class="container-fluid row">
            <div class="col-8">
                <div class="row py-1" id="two">
                    <!-- slider -->
                    <div class="m-auto" id="slider">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/img/sldr1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/sldr2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/sldr3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- slider ın altında ikiye ayrılan yer -->
                <div class="row">
                    <div class="col-6 d-flex flex-column border border-top-0 border-bottom-0" id="three">
                        <!-- saol tarf -->
                        <!-- resim1  -->
                        <div class="card-header fw-bold p-2 m-2" id="four">
                            AKTÜEL
                        </div>
                        <img src="Resimler/slider1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <!-- resim2  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>
                        <!-- resim3  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <!-- resim4  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <div class="card-header fw-bold p-2 m-2" id="five">
                            SANAT
                        </div>
                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <!-- resim5  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>
                        <!-- resim6  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <!-- resim7  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>


                        <div class="card-header fw-bold p-2 m-2" id="six">
                            MEDYA
                        </div>
                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>
                    </div>



                    <div class="col-6">
                        <!-- sağ taraf -->
                        <!-- resim1  -->

                        <div class="card-header fw-bold p-2 m-3" id="seven">
                            DİKEN
                            ÖZEL
                        </div>
                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>

                        <hr>

                        <!-- resim2  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>
                        <!-- resim3  -->


                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <!-- resim4  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>



                        <div class="card-header fw-bold p-1" id="eigth">
                            DÜNYA
                        </div>
                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>
                        <!-- resim3  -->


                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>

                        <div class="card-header fw-bold p-1" id="nine">
                            KEYİF
                        </div>
                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>
                        <!-- resim  -->

                        <img src="/img/sldr1.jpg" alt="" class="card-img-top p-2">
                        <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        <hr>


                    </div>
                </div>
                <!-- tekli bölüm -->
                <div class="col-12">
                    <!-- tekli bölüm -->

                    <div class="card-header fw-bold" id="ten">SÜRDÜRÜLEBİLİRLİK</div>
                    <!-- resim1    -->

                    <div class="d-flex">
                        <img src="/img/tek.jpg" alt="" class="card-img-top p-1 ">
                        <div flex-row class="">
                            <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                            <div class="card-body">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        </div>
                    </div>
                    <hr>


                    <!-- resim2    -->

                    <div class="d-flex">
                        <img src="/img/tek.jpg" alt="" class="card-img-top p-1 ">
                        <div flex-row class="">
                            <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                            <div class="card-body">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        </div>
                    </div>
                    <hr>

                    <!-- resim3    -->

                    <div class="d-flex">
                        <img src="/img/tek.jpg" alt="" class="card-img-top p-1 ">
                        <div flex-row class="">
                            <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                            <div class="card-body">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        </div>
                    </div>
                    <hr>

                    <!-- resim4    -->

                    <div class="d-flex">
                        <img src="/img/tek.jpg" alt="" class="card-img-top p-1 ">
                        <div flex-row class="">
                            <div class="card-body fw-bold">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                            <div class="card-body">Moda sahnesi ışıksız oyun sergilemeye son verdi</div>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
            <!-- sağdaki tekli bölüm -->
            <div class="col-4 border border-top-0" id="eleven">

                <div class="card-header fw-bold p-2 m-2 fs-5" id="twelve">
                    DİKEN'İ
                    TAKİP EDİN
                </div>
                <div class="alan">
                    <div class="col d-flex px-4 " id="thirteen">
                        <div><a><img src="/img/face-icon.png" alt=""></a></div>
                        <div><a><img src="/img/twitter-icon.png" alt=""></a></div>
                        <div><a><img src="/img/insta-icon.png" alt=""></a></div>
                        <div><a><img src="/img/pinterest-icon.png" alt=""></a></div>
                        <div><a><img src="/img/icon.webp" alt=""></a></div>
                    </div>
                </div>

                <hr>



                <!-- resim1  -->

                <img src="Resimler/sağ-ilk.jpg" alt="" class="card-img-top p-2">
                <div class="card-body fw-bold">Gündür tutuklu</div>
                <hr>


                <!-- resim2  -->
                <div class="card-header fw-bold p-1 fs-5" id="fourteen">
                    AGORA
                </div>

                <div class="d-flex">
                    <img src="/img/agora1.jpg" alt="" class="card-img-top w-25 h-10 p-2">
                    <div class="card-body fw-bold">İnsanlık kaybederse herkes kaybeder!</div>
                </div>
                <p class="text-secondary" id="p1">Dağhan Irak</p>
                <hr>

                <!-- resim3 -->
                <div class="d-flex">
                    <img src="/img/agora2.jpg" alt="" class="card-img-top w-25 h-10 p-1">
                    <div class="card-body fw-bold">İnsanlık kaybederse herkes kaybeder!</div>
                </div>
                <p class="text-secondary" id="p2">İhsan Dağı</p>
                <hr>
                <!-- resim4  -->

                <div class="d-flex">
                    <img src="/img/agora3.jpeg" alt="" class="card-img-top w-25 h-10 p-1">
                    <div class="card-body fw-bold">İnsanlık kaybederse herkes kaybeder!</div>
                </div>
                <p class="text-secondary" id="p3">Dağhan Irak</p>
                <hr>



                <div class="card-header fw-bold p-2 m-2 fs-5 px-5">GÜNÜN 11'i</div>
                <div id="nineteen">
                    <div><a><p class="fw-bold">Yalçın Karatepe: İktidar mevduatı olanı korumak için sürekli bir şeyler geliştiriyor</p></a></div>
                    <hr>
                    <div><a><p class="fw-bold">Yalçın Karatepe: İktidar mevduatı olanı korumak için </p></a></div>
                    <hr>
                    <div><a><p class="fw-bold">Yalçın Karatepe: İktidar mevduatı olanı korumak için sürekli </p></a></div>
                    <hr>
                    <div><a><p class="fw-bold">Yalçın Karatepe: İktidar mevduatı olanı korumak için sürekli bir şeyler geliştiriyor</p></a></div>
                    <hr>
                    <div><a><p class="fw-bold">Yalçın Karatepe: İktidar mevduatı olanı  geliştiriyor</p></a></div>
                </div>
                <hr>
            </div>

        </div>
    </div>
</div>