


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/otel1.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">St.James Hotel London</h5>
                <p class="card-text">
                    Metroya yakın
                    Tarihi değeri olan bu 4 yıldızlı lüks otel Buckingham Sarayı, Hyde Park ve Mayfair gibi şehrin önemli yerlerine kısa bir yürüme mesafesindedir.
                </p>
                <p class="card-text"><small class="text-muted">500 TL</small></p>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/otel2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Hilton Garden ınn Erzincan </h5>
                <p class="card-text">Tel : 0221 125</p>
                <p class="card-text"><small class="text-muted">300 TL</small></p>
            </div>
        </div>
    </div>
</div>